<!DOCTYPE html>
<html>
  <head>
    <title>Browser</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
